<div class="navigation">
    <nav>
        <a href="../pages/iniciarSesion.html" target="_parent">
            <img src="../img/CarTic Logo.png" width="40" height="40" alt="">
        </a>
        <a href="../pages/iniciarSesion.html" target="_parent"> Inicio</a>
        <a href="../pages/registro.html" target="_parent">Registro</a>
        <a href="../pages/servicio.html"target="_parent">Servicios</a>
        <a href="../pages/Informe.html"target="_parent">Informes</a>
        <a href="../pages/iniciarSesion.html"target="_parent">Iniciar Sesión</a>
        <a href="../pages/iniciarSesion.html"target="_parent">Cerrar Sesión</a>
    </nav>
</div>