<nav>
    <div class="container">
        <div class="lbl-menu">
            <label for="radio1">Vehículo</label>
            <label for="radio2">Cliente</label>
        </div>
        <div class="content">
            <input type="radio" name="radio" id="radio1">
            <div class="tab1">
                <h2>Vehiculo</h2>
                <iframe src="../components/forms/servicioVehiculoForm.html" frameborder="0" target="_blank"
                width=500px height= 200 scrolling="no"></iframe>

                <input type="radio" name="radio" id="radio2">
                <div class="tab2">
                    <h2>Cliente</h2>
                    <iframe src="../components/forms/servicioClienteForm.html" frameborder="0" target="_blank"
                    width=500px height= 200 scrolling="no"></iframe>
                </div>
            </div>

        </div>
    </div>
</nav>