<div>
    <div>

        <div>
            <label for="selecti">Ingrese la placa del Vehiculo</label>
            <div>
                <input type="text" placeholder="ABC123">
            </div>
        </div>

        <div>
            <label for="selecti">Ingrese nombre del propietario</label>
            <div>
                <input type="text" placeholder="Pedro Perez">
            </div>
        </div>
        
    </div>
</div>
<br>

<!-- Tabla -->
<div>
    <div>
        <table>
            <thead border >
                <tr>
                    <th>Orden de servicio</th>
                    <th>Fecha</th>
                    <th>Tecnico</th>
                    <th>Trabajo realizado</th>
                    <th>Valor total del Servicio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>2011/04/25</td>
                    <td>Jose Perez</td>
                    <td>Cambio de pastillas, delanteras y bandas traseras</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>2011/07/25</td>
                    <td>David ortiz</td>
                    <td>Reparacion guardabarros</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>2009/01/12</td>
                    <td>David Ortiz</td>
                    <td>Arreglo de golpe, puerta posterior izquierda</td>
                    <td>$400,000</td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>2012/03/29</td>
                    <td>Pedro martinez</td>
                    <td>Cambio de aceite</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>2008/11/28</td>
                    <td>Pedro Martinez</td>
                    <td>Cambio de empaque del cárter de aceite</td>
                    <td>90,000</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>2009/01/12</td>
                    <td>David Ortiz</td>
                    <td>Arreglo de golpe, puerta posterior izquierda</td>
                    <td>$400,000</td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>2012/03/29</td>
                    <td>Pedro martinez</td>
                    <td>Cambio de aceite</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>2008/11/28</td>
                    <td>Pedro Martinez</td>
                    <td>Cambio de empaque del cárter de aceite</td>
                    <td>90,000</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
