<div>
    <div>
        <div>
            <label for="selecti">Técnico</label>
            <div>
                <select id="selecti">
                    <option selected>Seleccione un Técnico</option>
                    <option value="1">Wilfrido Vargas</option>
                    <option value="2">Romario Najari</option>
                    <option value="3">Wiliam Torre Alba</option>
                </select>
            </div>
        </div>

        <div>
            <label for="selecti">Total servicios</label>
            <div>
                <input type="text">
            </div>
        </div>

        <div>
            <label for="selecti">Ganancia total</label>
            <div>
                <input type="text">
            </div>
        </div>        
    </div>
</div>
<br>

<!-- Tabla -->
<div>
    <div>
        <table>
            <thead border >
                <tr>
                    <th>No</th>
                    <th>Servicio</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Ganancia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Edinburgh</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Tokyo</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>San Francisco</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Edinburgh</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Tokyo</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>New York</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>San Francisco</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Tokyo</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>San Francisco</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Edinburgh</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>London</td>
                    <td>2008/12/19</td>
                    <td>$90,560</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Edinburgh</td>
                    <td>2013/03/03</td>
                    <td>$342,000</td>
                    <td>50,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Fin Tabla -->
