<form method="post" action="#" target="_blank">

    <table border="2" cellpadding="0" cellspacing="1" height="50" width="500">

        <tr>
            <th width="100">Servicio/Insumo</th>
            <th width="100">Cantidad</th>
            <th width="100">Valor Unitario</th>
            <th width="100">Valor</th>
            <br>
        </tr>
        <tr height="20">
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            </select></th>
        </tr>
        <tr height="20">
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            </select></th>
        </tr>
        
        
    </table>
</form>