<form method="post" action="#" target="_blank">

    <table>

<tr>
    <th><label for="fecha_orden_trabajo">Fecha </label></th>
    <th><input type="date" name="fecha_orden_trabajo" id="fecha_orden_trabajo"></th>
    <br>
</tr>
<tr>
    <th><label for="Placa_vehiculo">placa </label></th>
    <th><input type="text" name="Placa_vehiculo" id="Placa_vehiculo"></th>
</tr>
<tr>
    <th><label for="Modelo_vehiculo">Modelo </label></th>
    <th><input type="text" name="Modelo_vehiculo" id="Modelo_vehiculo"></th>
</tr>
<tr>
    <th><label for="Marca_vehiculo">Marca </label></th>
    <th><input type="text" name="Marca_vehiculo" id="Marca_vehiculo"></th>
</tr>
<tr>
    <br>
    <th><label for="Referencia_vehiculo">placa </label></th>
    <th><input type="text" name="Referencia_vehiculo" id="Referencia_vehiculo"></th>
    <br>
</tr>    
</table>
</form>