<form method="post" action="#" target="_blank">
<div>
    <table>
        <tr>
            <th><label for="Id_orden_trabajo">Id Orden de Trabajo </label></th>
            <th><input type="number" name="Id_orden_trabajo" id="Id_orden_trabajo"></th>
            <br>
        </tr>
        <tr>
            <th><label for="Id_tecnico">Id Tecnico </label></th>
            <th><input type="number" name="Id_tecnico" id="Id_tecnico"></th>
            <br>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
            <th><label for="Valor_repuesto">Valor Insumo </label></th>
            <th><input type="number" name="Valor_repuesto" id="Valor_repuesto"></th>
            <br>
        </tr>
        <tr>
            <th><label for="Valor_servicio">Valor Servicio </label></th>
            <th><input type="number" name="Valor_servicio" id="Valor_servicio"></th>
            <br>
        </tr>
        <tr>
            <th><label for="Valor_total">Valor Total </label></th>
            <th><input type="text" name="Valor_total" id="Valor_total"></th>
        </tr>
        
    </table>
</div>

</form>