<form method="post" action="#" target="_blank">

    <table>

        <tr>
            <th><label for="Id_cliente">Fecha </label></th>
            <th><input type="date" name="Id_cliente" id="Id_cliente"></th>
            <br>
        </tr>
        <tr>
            <th><label for="Tipo_doc">Tipo Documento </label></th>
            <th><select name="Tipo_doc" id="Tipo_doc">
                <option value="">seleccionar</option>
                <option value="1">T.I</option>
                <option value="2">C.C</option>
                <option value="3">C.E</option>

            </select></th>
        </tr>
        <tr>
            <th><label for="Nombre_cliente">Nombre </label></th>
            <th><input type="text" name="Nombre_cliente" id="Nombre_cliente"></th>
        </tr>
        <tr>
            <th><label for="Apellido_cliente">Apellido </label></th>
            <th><input type="text" name="Apellido_cliente" id="Apellido_cliente"></th>
        </tr>
        <tr>
            <th><label for="Email_cliente">E-mail </label></th>
            <th><input type="text" name="Email_cliente" id="Email_cliente"></th>
        </tr>
        <tr>
            <th><label for="Celular_cliente">Celular </label></th>
            <th><input type="text" name="Celular_cliente" id="Celular_cliente"></th>
        </tr>
        
    </table>
</form>